<h1>Goals</h1>
- Can covert a csv to workable data format in code (dataframe - df)
- Can filter through the df to find specific data (columns, data based on conditions)

<h1>Other Interesting Functions</h1>
- <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rank.html">rank()</a><br/>
- <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html">pct_change()</a><br/>

In [1]:
import pandas as pd

In [28]:
#variable (aka. name) = data (of a specific type)
energy_df = pd.read_csv('Energy Census and Economic Data US 2010-2014.csv')
energy_df.set_index(energy_df.columns[0], inplace=True)
energy_df.pop('State')
energy_df.head()

,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014,TotalP2010,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
StateCodes,,,,,,,,,,,,,,,,,,,,,
AL,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,1958221,1419613,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
AK,4.0,9.0,1.0,0.0,653221,653637,649341,621107,603119,1738207,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
AZ,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,1422590,580948,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
AR,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,1114409,1247709,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
CA,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,7620082,2532205,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

In [103]:
pop_df = pd.read_csv('Completed US Energy Data Analysis - Energy Pop.csv')
pop_df.set_index("State", inplace=True)
pop_df = pop_df.iloc[:, -7:-1].join(pop_df['2016'])
pop_df.head()

           2010      2011      2012      2013      2014      2015      2016
State
AL      4785298   4799918   4815960   4829479   4843214   4853875   4863300
AK       713985    722713    731089    736879    736705    737709    741894
AZ      6413737   6467163   6549634   6624617   6719993   6817565   6931071
AR      2921606   2939493   2950685   2958663   2966912   2977853   2988248
CA     37349363  37676861  38011074  38335203  38680810  38993940  39250017

In [61]:
gdp_df = pd.read_csv('Completed US Energy Data Analysis - GDP.csv')
gdp_df.head()
# gdp_df
# print(gdp_df) will print it in a less neat way

gdp_df.drop(['Fips', 'Area'], axis=1, inplace=True)

In [73]:
area_df = pd.read_csv('Completed US Energy Data Analysis - State Areas.csv')
area_df.set_index('StateCode', inplace=True)
area_df = area_df.iloc[:, [1]]
area_df.head()

           Total Area sqmi
StateCode
AL                   52420
AK                  665384
AZ                  113990
AR                   53179
CA                  163695

<h1>Filtering</h1>
- <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html?highlight=filter#pandas.DataFrame.filter">filter()</a><br/>
- <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html">iloc()</a><br/>

In [38]:
production = production.iloc[:, 4:14]
production = production[production.TotalC2010 < production.TotalP2010] #explicit version of .query()
production
#what do these states do differently? what other data can we look at

,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014,TotalP2010,TotalP2011,TotalP2012,TotalP2013,TotalP2014
StateCodes,,,,,,,,,,
AK,653221,653637,649341,621107,603119,1738207,1641980,1563102,1513859,1475129
AR,1120632,1122544,1067642,1096438,1114409,1247709,1391190,1472778,1432074,1454325
CO,1513547,1470445,1440781,1470844,1477177,2561459,2750097,2921385,2838193,3041634
KY,1978527,1903208,1868483,1838898,1770741,2781466,2840858,2391118,2138426,2055121
MT,400855,402355,395724,405934,403446,1148154,1104165,1008736,1104932,1161804
NM,649962,668675,666540,670257,679136,2255073,2260681,2315892,2367423,2514744
ND,476072,528508,552326,594439,640095,1253749,1518406,2135154,2634178,3261360
OK,1579910,1585212,1561913,1620837,1679856,2576077,2704301,2950525,3137443,3572829
UT,756012,794058,790154,831668,797995,1073063,1128821,1118599,1122868,1170681
WV,738821,726341,720985,743612,752942,3699729,3820203,3720223,3809750,4154063
WY,540122,556548,550182,539146,535612,10536570,10353148,9611304,9233869,9361755

In [80]:
#lets try and analyze the prices of different energy options
#hypothesis: the cheapest option will be the most used option
price_df = energy_df.filter(like="Price", axis=1)

for column in price_df.columns:
    if '-' in column: #if i just want to get values from one year, I can add <or '2010' not in column>
        price_df.drop(column, axis=1, inplace=True)
        
price_df.head()

#Mention rank function and graphing approach

/Users/adamomarali/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,TotalPrice2010,TotalPrice2011,TotalPrice2012,TotalPrice2013,TotalPrice2014,CoalPrice2010,CoalPrice2011,CoalPrice2012,CoalPrice2013,CoalPrice2014,...,NatGasPrice2010,NatGasPrice2011,NatGasPrice2012,NatGasPrice2013,NatGasPrice2014,LPGPrice2010,LPGPrice2011,LPGPrice2012,LPGPrice2013,LPGPrice2014
StateCodes,,,,,,,,,,,,,,,,,,,,,
AL,17.82,20.10,19.96,19.02,18.64,2.97,3.09,3.31,3.06,2.91,...,6.65,5.72,4.28,5.38,5.81,24.20,26.48,24.58,24.45,26.79
AK,20.13,24.91,25.09,24.60,24.43,3.43,3.85,4.06,4.90,4.87,...,6.41,6.61,6.26,6.78,6.99,26.79,29.78,27.47,26.07,27.65
AZ,22.25,25.62,26.41,26.05,25.94,1.81,1.99,2.09,2.08,2.11,...,6.86,7.45,5.52,6.19,7.15,28.05,31.96,28.88,29.47,30.28
AR,16.90,19.67,19.98,19.54,18.87,1.74,1.93,2.27,2.41,2.42,...,7.23,7.36,5.53,6.44,7.44,22.40,26.72,24.71,24.62,25.80
CA,20.97,24.35,24.97,24.85,25.31,2.94,3.13,3.05,3.39,3.43,...,6.97,7.08,5.72,6.51,7.39,27.58,31.26,27.66,27.94,28.42

In [88]:
for column in pop_df.columns:
    pop_df.rename(columns={column: f'Pop-{column}'}, inplace=True)

In [102]:
#Create a score based on population density, hypothesis: more dense places will have a lower energy profit
#energy_profit / pop_density

combined_df = pd.concat([production, area_df, pop_df], axis=1) 
combined_df.dropna(inplace=True)

pop_density = []
energy_profit = []
conservation_score = []
for i in range(len(combined_df.index)):
    pop_density.append(combined_df.at[combined_df.index[i], 'Pop-2010'] / combined_df.at[combined_df.index[i], 'Total Area sqmi'])
    energy_profit.append(combined_df.at[combined_df.index[i], 'TotalP2010'] / combined_df.at[combined_df.index[i], 'TotalC2010'])
    conservation_score.append(energy_profit[i] / pop_density[i])

conservation_score

[2.4798454880862226,
 0.020266035856136937,
 0.0348903813875226,
 0.01307021788195558,
 0.42502979961732706,
 0.2041994060935823,
 0.2760347623269765,
 0.03029793759834524,
 0.043400631262812746,
 0.06544563586457214,
 3.380421050368484]

In [100]:
combined_df

,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014,TotalP2010,TotalP2011,TotalP2012,TotalP2013,TotalP2014,Total Area sqmi,Pop-2010,Pop-2011,Pop-2012,Pop-2013,Pop-2014,Pop-2015,Pop-2016
AK,653221.0,653637.0,649341.0,621107.0,603119.0,1738207.0,1641980.0,1563102.0,1513859.0,1475129.0,665384,713985,722713,731089,736879,736705,737709,741894
AR,1120632.0,1122544.0,1067642.0,1096438.0,1114409.0,1247709.0,1391190.0,1472778.0,1432074.0,1454325.0,53179,2921606,2939493,2950685,2958663,2966912,2977853,2988248
CO,1513547.0,1470445.0,1440781.0,1470844.0,1477177.0,2561459.0,2750097.0,2921385.0,2838193.0,3041634.0,104094,5049071,5118360,5189867,5267603,5349648,5448819,5540545
KY,1978527.0,1903208.0,1868483.0,1838898.0,1770741.0,2781466.0,2840858.0,2391118.0,2138426.0,2055121.0,40408,4346266,4369354,4384799,4400477,4413057,4424611,4436974
MT,400855.0,402355.0,395724.0,405934.0,403446.0,1148154.0,1104165.0,1008736.0,1104932.0,1161804.0,147040,990898,997821,1005196,1014314,1022867,1032073,1042520
NM,649962.0,668675.0,666540.0,670257.0,679136.0,2255073.0,2260681.0,2315892.0,2367423.0,2514744.0,121590,2065932,2077756,2083784,2085193,2083024,2080328,2081015
ND,476072.0,528508.0,552326.0,594439.0,640095.0,1253749.0,1518406.0,2135154.0,2634178.0,3261360.0,70698,674499,685476,702087,724019,739904,756835,757952
OK,1579910.0,1585212.0,1561913.0,1620837.0,1679856.0,2576077.0,2704301.0,2950525.0,3137443.0,3572829.0,69899,3761702,3786274,3817054,3852415,3877499,3907414,3923561
UT,756012.0,794058.0,790154.0,831668.0,797995.0,1073063.0,1128821.0,1118599.0,1122868.0,1170681.0,84897,2776469,2816124,2855782,2902663,2941836,2990632,3051217
WV,738821.0,726341.0,720985.0,743612.0,752942.0,3699729.0,3820203.0,3720223.0,3809750.0,4154063.0,24230,1853973,1854972,1856560,1853231,1848514,1841053,1831102
WY,540122.0,556548.0,550182.0,539146.0,535612.0,10536570.0,10353148.0,9611304.0,9233869.0,9361755.0,97813,564460,567725,576765,582684,583642,586555,585501

In [107]:
conservation_df = pd.DataFrame(data={'conservation_score': conservation_score}, index=combined_df.index)
final_df = pd.concat([combined_df, conservation_df]) #leave this mistake in
final_df = combined_df.join(conservation_df)
final_df

,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014,TotalP2010,TotalP2011,TotalP2012,TotalP2013,TotalP2014,Total Area sqmi,Pop-2010,Pop-2011,Pop-2012,Pop-2013,Pop-2014,Pop-2015,Pop-2016,conservation_score
AK,653221.0,653637.0,649341.0,621107.0,603119.0,1738207.0,1641980.0,1563102.0,1513859.0,1475129.0,665384,713985,722713,731089,736879,736705,737709,741894,2.479845
AR,1120632.0,1122544.0,1067642.0,1096438.0,1114409.0,1247709.0,1391190.0,1472778.0,1432074.0,1454325.0,53179,2921606,2939493,2950685,2958663,2966912,2977853,2988248,0.020266
CO,1513547.0,1470445.0,1440781.0,1470844.0,1477177.0,2561459.0,2750097.0,2921385.0,2838193.0,3041634.0,104094,5049071,5118360,5189867,5267603,5349648,5448819,5540545,0.034890
KY,1978527.0,1903208.0,1868483.0,1838898.0,1770741.0,2781466.0,2840858.0,2391118.0,2138426.0,2055121.0,40408,4346266,4369354,4384799,4400477,4413057,4424611,4436974,0.013070
MT,400855.0,402355.0,395724.0,405934.0,403446.0,1148154.0,1104165.0,1008736.0,1104932.0,1161804.0,147040,990898,997821,1005196,1014314,1022867,1032073,1042520,0.425030
NM,649962.0,668675.0,666540.0,670257.0,679136.0,2255073.0,2260681.0,2315892.0,2367423.0,2514744.0,121590,2065932,2077756,2083784,2085193,2083024,2080328,2081015,0.204199
ND,476072.0,528508.0,552326.0,594439.0,640095.0,1253749.0,1518406.0,2135154.0,2634178.0,3261360.0,70698,674499,685476,702087,724019,739904,756835,757952,0.276035
OK,1579910.0,1585212.0,1561913.0,1620837.0,1679856.0,2576077.0,2704301.0,2950525.0,3137443.0,3572829.0,69899,3761702,3786274,3817054,3852415,3877499,3907414,3923561,0.030298
UT,756012.0,794058.0,790154.0,831668.0,797995.0,1073063.0,1128821.0,1118599.0,1122868.0,1170681.0,84897,2776469,2816124,2855782,2902663,2941836,2990632,3051217,0.043401
WV,738821.0,726341.0,720985.0,743612.0,752942.0,3699729.0,3820203.0,3720223.0,3809750.0,4154063.0,24230,1853973,1854972,1856560,1853231,1848514,1841053,1831102,0.065446
WY,540122.0,556548.0,550182.0,539146.0,535612.0,10536570.0,10353148.0,9611304.0,9233869.0,9361755.0,97813,564460,567725,576765,582684,583642,586555,585501,3.380421

In [ ]:
#Create a score based on GDP (Hint: Make the GDP Quaterly columns into a single GDP column for each year, using the energy census)